body{
	font-family: calibri;
	background: #ffffff;
	padding-top: 0px;
	margin-top: 0px;
}
#main-heading{
	height: 60px;
	color: #FFBC00;
	background: #000000;
	text-align: center;
	margin:0;
	padding-top: 20px;
	position: fixed;
	top: 0px;
	left: 0px;
	display: inline-block;
	width: 100%;
}
.Intro{
	margin-top: 100px;
	display: block;
	padding: 2%;
	text-align: justify;
	background: #0011;
}

h2, h3{
	font-size: 200%;

}
table{
	background: #000000;
	border-color: #000000;
	font-size: 110%;
	width: 50%;
}
tr{
	background: #ffffff;
	height:30px;
}
td{
	padding:1%;
}

a{
	text-decoration:none;
}
a:hover{
	color:#000000;
}
td:hover{
	background-color: #FFC107;
}
th{
	color: #FFBC00;
	background: #000000;
	font-size: 130%;
	padding:1%;
}
figure{
	font-family: sans-serif;
	background: #eac950;
	display: inline-block;
	width: 40%;
	
}
img{
	padding: 2%;

}
article{
	display: inline-block;
	background: black;
	display:table;
	margin: 2%;
	float: left;
}
h3{
	padding: 2%;
	color: #FFBC00;

}
figure{
	padding: 2%;
	transition: width 0.3s linear 0.5s;
}
figure:hover{
	width:75%;
}
